@model List<Order>;

	<h1>Order History</h1>

<ul class="list-group">
	@foreach (var i in Model)
	{
		<li class="list-group-item">#@i.Id - @i.CreatedAt.ToShortDateString() made by @i.User.UserName</li>
	}
</ul>
