html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    padding: 2px;
    border-radius: 6px;
}
.car-table img {
    transition: .2s;
}

.car-table img:hover{
    transform: scale(3);
}

.car-image {
    width: 250px;
    height: auto;
    max-height: 150px; 
    object-fit: cover; 
}
