html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('https://img.freepik.com/free-photo/business-parking-empty-carpark-abstract_1203-5195.jpg');
    background-size: cover;
    background-position: center;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    padding: 2px;
    border-radius: 6px;
}
.car-table img {
    transition: .2s;
}

.car-table img:hover{
    transform: scale(3);
}

.car-image {
    width: 250px;
    height: auto;
    max-height: 150px; 
    object-fit: cover; 
}

.det-img {
    width: 450px;
    height: auto;
    max-height: 350px;
    object-fit: cover;
}

.container-xl {
    background-color: white; /* Білий фон */
    padding: 20px; /* Додаткові відступи для вмісту */
    border-radius: 8px; /* Закруглені кути, якщо потрібно */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Додати тінь для ефекту */
}

.ind-img{
    height:50px;
    width:50px;
}
